---
  parser: "@babel/eslint-parser"
  env:
    node: true
    es6: true
  parserOptions:
    requireConfigFile: false
    babelOptions:
      presets:
        - "@babel/preset-env"
        - "@babel/preset-react"
  rules:
    strict: 0
    indent: [2, 4]
    quotes: [2, 'single']
    no-unused-vars: 0
    no-eval: 2
    no-implied-eval: 2
